:root {
    --blue-medium-color: #0b44aa;
    --green-medium-color: #04a491;
    --oxford-color-gray: #6d6e71;
    --gray-dark-color: #323232;
    --gray-medium-color: #d4d9e2;
    --white-color: #ffffff;
  }
  
  html,
  body {
    font-family: "Ubuntu", sans-serif;
    margin: 0;
    padding: 0;
  }